<div class="col-md-8">
  <h4>Profile</h4>
    <div class="col-md-2">
      <span class='bold'>Name</span><br /> 
      <span class='bold'>Email</span><br />
      <span class='bold'>Title</span><br />
      <span class='bold'>About</span><br />
    </div>
    <div class="col-md-6">
      <span><%= @user.first_name + " " + @user.last_name %></span><br />
      <span><%= @user.email %></span><br />
      <span><%= @user.title %></span><br />
      <span><%= @user.about %></span><br />
    </div>
</div>
<div class="col-md-4">
  <h4>Metrics</h4>
</div>
